.gcloudignore
.git
.gitignore
.expo
.terraform
**/.terraform
**/.gocache
**/node_modules
**/.env
**/.env.*
!**/.env.example
apps/mobile/android
apps/mobile/ios
dist
**/dist
coverage
*.pem
*.key
terraform.tfstate*
